html {
    font-size: 10px;
    direction: rtl;
    padding:0 ;
    margin: 0;
}

body {
    /* background: linear-gradient(to right, #fc00ff, #00dbde); */
    /* background: linear-gradient(to right, #43cea2, #185a9d);  */
    background: linear-gradient(to right, #9d50bb, #6e48aa); 
    font-family: 'helvetica neue';
    font-weight: 200;
    font-size: 20px;
}

.words {
    max-width: 500px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem 1rem 5rem;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
    background-size: 100% 3rem;
    position: relative;
    line-height: 3rem;
}

p {
    margin: 0 0 3rem;
}

/* .words:before {
    content: '';
    position: absolute;
    width: 4px;
    top: 0;
    left: 30px;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #efe4e4;
} */
.main {
    width: 70%;
    margin: 0 auto;
    border: 3px solid #00649E;
    border-radius: 5px;
}

.title {
    flex-direction: column;
    display: flex;
    align-items: center;
    background: white;
    

}
.title h5{
    display: block;
    margin:10px;
}